.overlay {
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    cursor: pointer; 
  }

.cart{
    margin: auto;
    width: 60%;
    margin-top: 100px;
    height: 350px;
    padding: 5px;
    background-color: #F5F5F5
}

.cartscrollable{
  overflow-y: scroll;
  min-height: 240px;
  max-height: 240px;
}


@media (max-width: 768px)  {
  .cart{
    width: 90%
  }
}