
.button{
    float: right;
    margin-left: 10px;
    border-style: solid;
    border-radius: 5px;
    font-size: 15px;
    width: 40px;
    height: 20px;
    line-height: 0px;
    border: solid 1px
    
}