.option-container {
  background-color: #F8F3D4;
  border-radius: 5px;
  margin-top: 10px;
}

.flexbox-column {
  margin-top: 20px;
}

.input {
  border-radius: 3px;
  border: none;
  width: 50px;
  float: right;
  margin-left: 20px;
}

.button {
  border: none;
  color: white;
  float: right;
  background-color: #F6416C;
  border-radius: 15px;
  width: 120px;
  height: 25px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
